Repository muuvmuuv/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles

lint-scripts:
  run: $(pnpm bin)/eslint {staged_files}

lint-styles:
  run: $(pnpm bin)/stylelint {staged_files}

6.3.0
  package.json
Due: none

refactor: upgrade to latest deps
  .editorconfig
  .env.default
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  .prettierrc
  .release-it.yml
  .stylelintrc.js
  .vscode/settings.json
  biome.json
  commitlint.config.js
  index.html
  lefthook.yml
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.vue
  src/components/Article.vue
  src/components/Footer.vue
  src/components/Header.vue
  src/components/Headline.vue
  src/components/Logo.vue
  src/components/Nova.vue
  src/env.d.ts
  src/icons.ts
  src/main.scss
  src/main.ts
  src/pages/Home.vue
  src/pages/Imprint.vue
  src/routes.ts
  src/utils/welcome.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vercel.json
  vite.config.mjs
  vite.config.ts
Due: lint-scripts, lint-styles

build: release v6.4.0
  package.json
Due: none

feat: add vercel speed and analytics
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: lint-scripts

build: release v6.4.1
  package.json
Due: none

build: update some scripts
  .github/workflows/analysis.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .release-it.yml
  CHANGELOG.md
  package.json
Due: none

docs: update readme otf
  .release-it.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: lint-scripts

build: release v6.4.2
  CHANGELOG.md
  package.json
Due: none

ci: checkout wrong version
  .github/workflows/default.yml
Due: none

build: update deps
  package.json
  pnpm-lock.yaml
Due: none

build: release v6.4.3
  CHANGELOG.md
  package.json
Due: none

build: fix lock file and build scripts approval
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: migrate to eslint cause vue and biome is a no no
  .editorconfig
  .github/workflows/default.yml
  .prototools
  .vscode/settings.json
  biome.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/ArticleTag.vue
  src/components/Footer.vue
  src/components/FooterSection.vue
  src/components/HeaderSection.vue
  src/components/Headline.vue
  src/components/HeadlineTag.vue
  src/components/Logo.vue
  src/components/LogoBrand.vue
  src/components/NovaGlobe.vue
  src/env.d.ts
  src/main.ts
  src/pages/Home.vue
  src/pages/HomePage.vue
  src/pages/ImprintPage.vue
  src/utils/welcome.ts
Due: lint-scripts

build: added claude
  CLAUDE.md
Due: none

feat: updating to latest and greatest phase one
  .prototools
  .vscode/settings.json
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/App.vue
  src/components/FooterSection.vue
  src/components/HeaderSection.vue
  src/components/HeadlineTag.vue
  src/components/LogoBrand.vue
  src/pages/HomePage.vue
  src/pages/ImprintPage.vue
  src/routes.ts
  vercel.json
  vite.config.mjs
Due: lint-scripts

build: chunking
  package.json
  vite.config.mjs
Due: none

build: fix deployment with corepack
  package.json
  pnpm-lock.yaml
Due: none

feat: refactor to tailwind v4
  .claude/settings.local.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/FooterSection.vue
  src/components/HeaderSection.vue
  src/components/LogoBrand.vue
  src/main.css
  src/main.scss
  src/main.ts
  src/pages/HomePage.vue
  tailwind.config.js
  vite.config.mjs
Due: lint-scripts, lint-styles

feat: complete tailwind v4 migration with typography and container utilities
  .claude/settings.local.json
  index.html
  package.json
  pnpm-lock.yaml
  src/components/ArticleTag.vue
  src/components/HeaderSection.vue
  src/main.css
  src/pages/HomePage.vue
Due: lint-scripts, lint-styles

feat: migrate to font awesome latest
  package.json
  pnpm-lock.yaml
  src/icons.ts
  src/pages/HomePage.vue
Due: lint-scripts

feat: upgrade to anime v4
  package.json
  pnpm-lock.yaml
  src/components/HeadlineTag.vue
Due: lint-scripts

feat: updated twitter icon
  src/icons.ts
  src/pages/HomePage.vue
Due: lint-scripts

fix: eslint vue issues
  .release-it.yml
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/NovaGlobe.vue
  src/icons.ts
  src/main.ts
  vite.config.mjs
Due: lint-scripts

build: release v6.5.0
  CHANGELOG.md
  CLAUDE.md
  package.json
Due: none

feat: added checkly status
  README.md
Due: none

refactor: modernize project and upgrade dependencies
  .env.default
  .vscode/settings.json
  CLAUDE.md
  biome.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/HeadlineTag.vue
  src/components/NovaGlobe.vue
  src/env.d.ts
  src/icons.ts
  src/pages/HomePage.vue
  vite.config.mjs
Due: lint-scripts

chore: update all dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: none

fix: improve mobile UX and SPA routing
  index.html
  src/main.css
  vercel.json
Due: lint-styles

fix: correct Vercel rewrite pattern for SPA routing
  vercel.json
Due: none

fix: use regex pattern for SPA rewrite
  vercel.json
Due: none

fix: explicitly set Vite framework for Vercel
  vercel.json
Due: none

fix: use routes with filesystem handler for SPA fallback
  vercel.json
Due: none

fix: add installCommand and remove framework null
  vercel.json
Due: none

fix: use rewrites instead of deprecated routes
  vercel.json
Due: none

fix: add 200.html SPA fallback for Vercel
  vite.config.mjs
Due: none

chore: remove build settings from vercel.json
  vercel.json
Due: none

chore: remove SPA fallback plugin
  vite.config.mjs
Due: none

refactor: migrate from Vue.js to Next.js
  .gitignore
  CLAUDE.md
  app/globals.css
  app/imprint/page.tsx
  app/layout.tsx
  app/page.tsx
  biome.json
  components/article.tsx
  components/footer.tsx
  components/header.tsx
  components/headline.tsx
  components/logo-brand.tsx
  components/nova-globe.tsx
  index.html
  lefthook.yml
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/App.vue
  src/components/ArticleTag.vue
  src/components/FooterSection.vue
  src/components/HeaderSection.vue
  src/components/HeadlineTag.vue
  src/components/LogoBrand.vue
  src/components/NovaGlobe.vue
  src/env.d.ts
  src/icons.ts
  src/main.css
  src/main.ts
  src/pages/HomePage.vue
  src/pages/ImprintPage.vue
  src/routes.ts
  tsconfig.json
  vercel.json
  vite.config.mjs
Due: lint-scripts, lint-styles

refactor: migrate from Next.js to Preact + Vite + TanStack Router
  .gitignore
  .prototools
  app/layout.tsx
  biome.json
  index.html
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.mjs
  src/components/article.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/headline.tsx
  src/components/logo-brand.tsx
  src/components/nova-globe.tsx
  src/globals.css
  src/main.tsx
  src/pages/home.tsx
  src/pages/imprint.tsx
  tsconfig.json
  vite.config.ts
Due: lint-scripts, lint-styles

Path conditions:
  lint-scripts: any of: *.{js,ts,vue}
  lint-styles: any of: *.{scss,css}
