Repository muuvmuuv/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts-source, lint-scripts-engine, lint-styles

lint-scripts-source:
  run: eslint {staged_files}
  tags: lint

lint-scripts-engine:
  run: eslint {staged_files}
  tags: lint

lint-styles:
  run: stylelint {staged_files}
  tags: lint

feat: added experience and education pages
  docker-compose.yml
  gatsby-config.js
  package.json
  src/components/Breadcrumb.jsx
  src/components/Hero.jsx
  src/components/HeroPage.jsx
  src/components/HeroProjects.jsx
  src/components/HeroWritings.jsx
  src/components/Link.jsx
  src/components/Logo.jsx
  src/components/Portfolio.jsx
  src/elements/Link.jsx
  src/layouts/Footer.jsx
  src/pages/404.jsx
  src/pages/changelog.jsx
  src/pages/index.jsx
  src/pages/writings.jsx
  src/styles/elements/_link.scss
Due: lint-scripts-source, lint-scripts-engine, lint-styles

feat: updated projects
  .gitignore
  content/projects/additive-gallery/home.png
  content/projects/additive-gallery/index.md
  content/projects/additive-gallery/single.png
  content/projects/additive-mip/blog.jpg
  content/projects/additive-mip/home.jpg
  content/projects/additive-mip/index.md
  content/projects/additive-mip/performance.jpg
  content/projects/additive-mip/single.png
  content/projects/additive-tv/category-inner.png
  content/projects/additive-tv/category.png
  content/projects/additive-tv/home.png
  content/projects/additive-tv/index.md
  content/projects/additive-tv/open-search.png
  content/projects/additive-tv/player.png
  content/projects/additive/index.md
  content/projects/influxe-gaming/bug-reporting.png
  content/projects/influxe-gaming/facebook-banner.jpg
  content/projects/influxe-gaming/index.md
  content/projects/influxe-gaming/phone-cover.jpg
  content/projects/influxe-gaming/playersheet_v1.jpg
  content/projects/influxe-gaming/playersheet_v2.jpg
  content/projects/influxe-gaming/poster.jpg
  content/projects/influxe-gaming/versioning.png
  content/projects/jobportal-friedrichsdorf/index.md
  gatsby-config.js
  gatsby/config/gatsby-remark-videos.js
  package.json
  pnpm-lock.yaml
  src/components/MDXElements.jsx
  src/components/Placeholder.jsx
  src/components/Portfolio.jsx
  src/elements/Video.jsx
  src/pages/projects.jsx
  src/styles/app.scss
  src/styles/components/_placeholder.scss
  src/styles/components/_portfolio.scss
Due: lint-scripts-source, lint-scripts-engine, lint-styles

fix: issue with actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

feat: added styled plyr player with lazy loading
  .gitignore
  content/projects/additive-tv/index.md
  content/projects/influxe-gaming/index.md
  gatsby-config.js
  gatsby/config/gatsby-remark-videos.js
  package.json
  pnpm-lock.yaml
  src/components/MDXElements.jsx
  src/components/Placeholder.jsx
  src/components/Player.jsx
  src/elements/Dynamic.jsx
  src/elements/Video.jsx
  src/styles/app.scss
  src/styles/components/_player.scss
  src/utils/environment.js
Due: lint-scripts-source, lint-scripts-engine, lint-styles

feat: remove styled player
  package.json
  pnpm-lock.yaml
  src/components/Placeholder.jsx
  src/components/Player.jsx
  src/elements/Dynamic.jsx
  src/styles/app.scss
  src/styles/components/_player.scss
Due: lint-scripts-source, lint-styles

feat: add fixed height to portfolio image
  src/styles/components/_portfolio.scss
Due: lint-styles

feat: improved lightbox
  package.json
  pnpm-lock.yaml
  src/components/Lightbox.jsx
  src/hooks/use-overlay.js
  src/provider/overlay.js
  src/styles/_reset.scss
  src/styles/components/_lightbox.scss
  src/styles/components/_overlay.scss
  src/styles/elements/_code.scss
  src/styles/layouts/_header.scss
Due: lint-scripts-source, lint-styles

fix: element can not be wrapped in p tags
  gatsby-config.js
  package.json
  pnpm-lock.yaml
Due: lint-scripts-engine

feat: updated icons to use react-icons
  src/components/Icon.jsx
  src/components/timeline/Section.jsx
  src/images/icons/anchor.svg
  src/images/icons/angular.svg
  src/images/icons/apple.svg
  src/images/icons/arrow-bottom.svg
  src/images/icons/arrow-left.svg
  src/images/icons/arrow-right.svg
  src/images/icons/arrow-top-right.svg
  src/images/icons/arrow-top.svg
  src/images/icons/book.svg
  src/images/icons/briefcase.svg
  src/images/icons/close.svg
  src/images/icons/codepen.svg
  src/images/icons/discord.svg
  src/images/icons/dribbble.svg
  src/images/icons/github.svg
  src/images/icons/hackernews.svg
  src/images/icons/instagram.svg
  src/images/icons/ionic.svg
  src/images/icons/league-of-legends.svg
  src/images/icons/markdown.svg
  src/images/icons/nodejs.svg
  src/images/icons/npm.svg
  src/images/icons/python.svg
  src/images/icons/sass.svg
  src/images/icons/steam.svg
  src/images/icons/twitch.svg
  src/images/icons/twitter.svg
  src/images/icons/unsplash.svg
  src/images/icons/windows.svg
  src/images/icons/wordpress.svg
  src/images/icons/xing.svg
  src/images/icons/youtube.svg
  src/pages/about/education.jsx
  src/pages/about/experience.jsx
  src/styles/components/_icon.scss
  src/styles/components/_timeline.scss
Due: lint-scripts-source, lint-styles

feat: update scroll to top with better logic
  src/components/ScrollToTop.jsx
  src/hooks/use-scroll-position.js
  src/hooks/use-window.js
Due: lint-scripts-source

feat: added react-axe and budle-stats
  gatsby-browser.js
  gatsby-config.js
  gatsby/node/onCreateWebpackConfig.js
  package.json
  pnpm-lock.yaml
  src/components/ScrollToTop.jsx
  src/styles/components/_scroll-to-top.scss
  src/styles/layouts/_footer.scss
  src/styles/themes/_dark.scss
  utils/environment.js
Due: lint-scripts-source, lint-scripts-engine, lint-styles

feat: remove normalize-url from link script and handle it elsewhere
  src/elements/Link.jsx
Due: lint-scripts-source

feat: add normalize-url as ast plugin
  gatsby-config.js
  plugins/gatsby-remark-normalize-url/index.js
  plugins/gatsby-remark-normalize-url/package.json
  plugins/gatsby-remark-normalize-url/pnpm-lock.yaml
  plugins/gatsby-source-files/package.json
  plugins/gatsby-source-files/pnpm-lock.yaml
Due: lint-scripts-engine

feat: add a11y landmarks
  src/layouts/Footer.jsx
  src/layouts/Header.jsx
Due: lint-scripts-source

feat: updated navigation with react spring
  src/components/Navigation.jsx
  src/components/navigation/DesktopNavigation.jsx
  src/components/navigation/MenuLinks.jsx
  src/components/navigation/MobileNavigation.jsx
  src/components/navigation/Navigation.jsx
  src/hooks/use-measure.js
  src/hooks/use-menu-links.js
  src/layouts/Header.jsx
  src/styles/_base.scss
  src/styles/layouts/_header.scss
  src/styles/layouts/_nav.scss
Due: lint-scripts-source, lint-styles

fix: node_modules was included in eslint
  .eslintrc.json
Due: none

feat: added preview image to additive-gallery
  content/projects/additive-gallery/index.md
Due: none

feat: added webpack bundle analyzer and bundle-stats
  gatsby-browser.js
  gatsby-config.js
  gatsby/node/onCreateWebpackConfig.js
  package.json
  pnpm-lock.yaml
  scripts/open-report.js
  src/sw.js
  utils/environment.js
  utils/welcome.js
Due: lint-scripts-source, lint-scripts-engine

feat: do not do a rebuild before release
  .release-it.json
Due: none

chore: release 5.4.0
  CHANGELOG.md
  package.json
Due: none

feat: replace indexOf with includes
  plugins/gatsby-source-files/gatsby-node.js
  src/components/Code.jsx
  src/utils/accessibility.js
Due: lint-scripts-source, lint-scripts-engine

fix: lightbox issue on mobile and new use-window logic
  .gitignore
  gatsby-browser.js
  gatsby/browser/corporateMessage.js
  package.json
  pnpm-lock.yaml
  src/components/Lightbox.jsx
  src/components/ScrollToTop.jsx
  src/components/navigation/MobileNavigation.jsx
  src/components/navigation/Navigation.jsx
  src/hooks/use-window.js
  src/layouts/index.jsx
Due: lint-scripts-source, lint-scripts-engine

feat: update GH actions
  .dockerignore
  .env.tmpl
  .github/workflows/build.yml
  .github/workflows/fork.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .gitignore
  README.md
  tests/workflows/build.sh
  tests/workflows/fork.sh
  tests/workflows/lint.sh
  tests/workflows/pull-request.sh
  tests/workflows/release.sh
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat: only run lint on PR
  .github/workflows/lint.yml
Due: none

feat: update timeline line center
  src/styles/components/_timeline.scss
Due: lint-styles

fix: first run to fix jumping overlay
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/provider/overlay.js
  src/styles/components/_overlay.scss
Due: lint-scripts-source, lint-styles

fix: overlay wasn't render properly and caused flickering
  gatsby-browser.js
  gatsby/wrapPageElement.jsx
  gatsby/wrapRootElement.jsx
  src/components/Portal.jsx
  src/html.js
  src/provider/overlay.js
Due: lint-scripts-source, lint-scripts-engine

fix: wrong Issue file url
  gatsby/node/onCreateWebpackConfig.js
  src/components/Issue.jsx
  src/pages/issues.jsx
Due: lint-scripts-source, lint-scripts-engine

feat: add line highlighting to GH issue file link
  src/components/Issue.jsx
Due: lint-scripts-source

chore: release 5.5.0
  CHANGELOG.md
  package.json
Due: none

feat: remove stale action
  .github/workflows/stale.yml
Due: none

feat: add note for gradient plugin
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/styles/layouts/_hero.scss
Due: lint-scripts-engine, lint-styles

feat: update lefthook command
  lefthook.yml
Due: none

feat: bypass adblockers by using sa. DNS
  .nvmrc
  gatsby-config.js
Due: lint-scripts-engine

chore: release 5.6.0
  CHANGELOG.md
  package.json
Due: none

chore: update deps
  .prettierrc.json
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: none

ci: use pnpm in actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

Path conditions:
  lint-scripts-source: any of: *.{js,jsx,mdx} and ^src/
  lint-scripts-engine: any of: *.{js,jsx}, but not: src/
  lint-styles: any of: *.{scss,css}
